<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

  </head>

  <body>
  <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
        <div
          class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="badge badge-pill badge-secondary text-light"
                href="/users/edit"
                >Account Settings</a
              >
            </li>
          </ul>
        </div>
        <div class="mx-auto order-0">
          <div class="navbar-brand mx-auto">
            <a class="badge badge-pill badge-secondary text-light" href="/posts/index">
              <img
                src="../img/facebuzzLogo.png"
                width="30"
                height="30"
                class="d-inline-block align-top"
                alt=""
              />
              Chinstagram
            </a>
          </div>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="badge badge-pill badge-secndary text-light"
                href="#"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="badge badge-pill badge-secondary text-light" data-method="delete" href="/users/sign_out"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
